<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Quiz</title>
    <link rel="icon" href="https://img.icons8.com/ios-glyphs/30/000000/quiz.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/hover.css" />
    <style>
        body {
            background: url('../image/bg1.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .wrapper {
            text-align: center;
        }

        .bgbutton {
            position: absolute;
            top: 50%;
            padding: 8px 28px 8px 28px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <a href="/user/login"><button class="hvr-buzz-out btn btn-primary bgbutton">START</button></a>
    </div>
</body>